<hr/>
<div class="content">
    <h3 style="color: cadetblue;">Welcome to Admin Page of the application</h3>
    
     <div class="content_body" align="right">
         <h4>Admin Login</h4>
    <form [formGroup]="LoginRef" (ngSubmit)="adminLogin()">
    <label>Email: </label>
    <input type="text" formControlName="email" /><br/>
    <label>Password: </label>
    <input  type="password" formControlName="password" /><br/>
    <input type="submit" value="Login"   /> &nbsp;
    <input type="reset" value="Reset" />
    </form>
    <br/>
    {{Logres}}
     </div>
<hr/>

    <br/><br/>

    <div class="content_body" align="right">
    <h4>Admin Register</h4>
    <form [formGroup]="RegRef" (ngSubmit)="adminRegister()">
        <label>Email: </label>
        <input type="email" formControlName="email" /><br/>
        <label>Password: </label>
        <input  type="password" formControlName="password" /><br/>
        <label>UserName: </label>
        <input type="text" formControlName="username" /><br/>
        <input type="submit" value="Register" /> &nbsp;
        <input type="reset" value="Reset" />
        </form>
        <br/>
        {{Regres}}
    </div>
</div>


