<hr/>
<div>
    <h3 align="center" style="color: fuchsia;">Welcome to User home page</h3>
    <div align="right"><input type="button"  value="logout" (click)="userlogout()"/></div>
    <h4>Welcome User, {{username}}</h4>

    <br/><br/><br/>
  
         <div class="column">
       <span *ngFor="let prod of products">
       <img src={{prod.pimage}} width="180px" height="210px" /> 
        <h4>Product Name </h4>{{prod.pname}}
        <h4>Product Description</h4>{{prod.pdesc}}
       <h4>Product Price</h4> {{prod.price}}
    </span>
         
     </div>
</div>
